body {
	font-family:"trebuchet MS", verdana, arial, sans-serif;
	background:#000000;
	word-wrap:break-word;
	color: #5ba0fb;
}

.row{
    padding-bottom: 1em;
    
}

.col-centered{
    #float: none;
    #margin: 0 auto;
    text-align: center;
}

button{
    border-radius: 5px;
}

.play-list-button{
    width: 10em;
    padding: .5em;
    margin: .2em;
    Background: black;
    color: white;
    border-color: #5ba0fb;
}

.head-img{
    margin-top: 1em;
}
